@import '~antd/dist/antd.css';

.logo {
    display: flex;
    justify-content: center;
    height: 64px;
    /*background: rgba(255, 255, 255, 0.3);*/
}

.logo img {
    width: 60%;
    height: 120%;

}

.site-layout .site-layout-background {
    background: #fff;
}
