.appNav {
    grid-area: nav;
    background-color: #2196f3;
    padding: 10px;
}

.item a {
    color: white;
    text-decoration: none;

}

.item .active {
    color: gold;
    text-decoration: none;

}