.loginForm {
    max-width: 300px;
    margin: 0 auto;
    padding-top: 100px;

}

.loginFormForgot {
    float: right;
}

.antColRtl .loginFormForgot {
    float: left;
}

.loginFormButton {
    width: 100%;
}